<div class="row">
  <div class="col-8 buffer-top">
    <h3 class="col-10 mb-4"><%= t('.access') %></h3>

    <%= form_tag('', method: 'post') do |f| %>
      <div class="col-10 mt-4">
        <%= label 'Пин-код', :pincode, class: "col-2 col-form-label font-weight-bold" %>
        <%= text_field_tag :pincode, params[:pincode], class: "form-control shadow rounded" %>
      </div>

      <div class="actions">
        <div class="col-10 mt-4">
         <%= submit_tag %>
        </div>
      </div>
    <% end %>

    <div class="col-10 mt-4 mb-4">
     <%= link_to t('.main'), events_path %>
    </div>

  </div>
</div>