<h2><%= t('.title') %></h2>
<p><%= t('.author') %>: <strong><%= @photo.user.name %></strong></p>
<%= link_to image_tag(@photo.photo.thumb.url), @photo.photo.url %>

<hr/>

<p><%= t('.event') %>: <strong><%= link_to @event.title, @event %></strong></p>

<p><%= t('.datetime') %>: <strong><%= l @event.datetime, format: :long %></strong></p>

<p><%= t('.owner') %>: <strong><%= @event.user.name %></strong></p>
